{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h1>Admin Dashboard</h1>

<p><a href="{{ url_for('edit_config') }}" class="btn">Edit config.json</a></p>

<form method="POST" action="{{ url_for('admin_dashboard') }}">
    <label for="table">Select Table:</label>
    <select id="table" name="table">
        <option value="ClassicResults" {% if table_name == "ClassicResults" %}selected{% endif %}>Classic Results</option>
        <option value="NoveltyResults" {% if table_name == "NoveltyResults" %}selected{% endif %}>Novelty Results</option>
    </select>
    <button type="submit">View Table</button>
</form>
<br><br>
{% if data %}

    <h2>Table: {{ table_name }}</h2><a href="{{ url_for('export_csv', table_name=table_name) }}" class="btn">Export as CSV</a>
    <table>
        <thead>
            <tr>
                {% for col in data[0].__table__.columns.keys() %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for col in row.__table__.columns.keys() %}
                <td>{{ getattr(row, col) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
	<br>
    <p>Table not selected or data not available.</p>
{% endif %}
{% endblock %}
