<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URANUS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='riskStyle.css') }}">
</head>
<body>
    <h1>Classic Risk Assessment</h1>
    <form method="post">
	<table border="0">
		<tr>
            <th>Risk</th>
            <th>Probability</th>
			<th>Impact</th>
        </tr>
        {% for risk in risks %}
            <tr>
                <th>{{ risk }}</th>
				<th>
                <input type="number" id="probability_{{ risk }}" name="probability_{{ risk }}" min="1" max="15" step="1" value="1">
				</th>
				<th>
                <input type="number" id="impact_{{ risk }}" name="impact_{{ risk }}" min="1" max="15" step="1" value="1">
				</th>
            </tr>
        {% endfor %}
		</table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
