<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>URANUS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='riskStyle.css') }}">
</head>
<body>
		<div class="button-container">
			<button onclick="location.href='{{ url_for('display_data') }}'">Display comparison data</button>
			<button onclick="location.href='{{ url_for('display_classic_data') }}'">Display classic approach data</button>
			<button onclick="location.href='{{ url_for('export/csv') }}'">Export CSV</button>
			<button onclick="location.href='{{ url_for('index') }}'">Go back to start</button>
		</div>
</div>
</body>
</html>
