{% extends "base.html" %}

{% block title %}Risk Assessment Data - Novel Method{% endblock %}

{% block content %}
<h1>Risk Assessment Data - Novel Method</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Start Time</th>
            <th>Stop Time</th>
            <th>User</th>
            <th>Risk Number</th>
            <th>Risk Name</th>
            <th>Risk Priority</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.starttime }}</td>
            <td>{{ item.stoptime }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.risk_number }}</td>
            <td>{{ item.risk_name }}</td>
            <td>{{ item.risk_priority }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
