<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>URANUS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='riskStyle.css') }}">
</head>
<body>
    <h1>Welcome to URANUS: Ultra-light Risk ANalysis Using Stepwise comparison!</h1>
	<img src="{{ url_for('static', filename='uranus.gif') }}">
    <form method="post">
        <label for="name">Introduce yourself: </label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
