{% extends "base.html" %}

{% block title %}Novel Risk Assessment{% endblock %}

{% block content %}
<h1>Comparison-based Risk Assessment</h1>
<p>Compare the following risks in terms of <strong>{{ p_names[c] }}</strong>:</p>

<div class="comparison">
    <div class="risk">
        <h3>Risk A</h3>
        <p>{{ e_names[a] }}</p>
    </div>
    <div class="risk">
        <h3>Risk B</h3>
        <p>{{ e_names[b] }}</p>
    </div>
</div>

<p>Please select one of the options:</p>

<form action="{{ url_for('novelty_risk') }}" method="post">
	<input type="hidden" name="a" value="{{ a }}">
    <input type="hidden" name="b" value="{{ b }}">
    <input type="hidden" name="c" value="{{ c }}">
    <button name="choice" value="0" type="submit">Risk A has a <strong>lower</strong> {{ p_names[c] }} than Risk B</button>
    <button name="choice" value="1" type="submit">Risk A has a <strong>higher</strong> {{ p_names[c] }} than Risk B</button>
</form>
{% endblock %}
